@import url('https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

:root {
  --font-wanted-sans: 'Wanted Sans', sans-serif;
}

body {
  font-family: var(--font-wanted-sans), sans-serif;
  color: #9c9c9c;
}
