.input {
  width: 233px;
  height: 48px;

  border-radius: 171px;
  border: none;

  background-color: #ffffff;
  font-family: 'Wanted Sans Variable', sans-serif;
  padding-left: 24px;
  margin-top: 25px;
  margin-bottom: 21px;
  margin-left: 1410px;

  position: absolute;
}

input::placeholder {
  font-size: 18px;
  font-family: 'Wanted Sans Variable', sans-serif;
  font-weight: bold;
  color: #0094D9;
  padding-top: 13px;
  padding-bottom: 14px;
}

.boardInput {
  width: 690px;
  height: 30px;
  border: none;
  outline: none;

  background-color: #ffffff;
  font-family: 'Wanted Sans Variable', sans-serif;

  position: absolute;

  top: 589px;
  right: 1391px;
  bottom: 615px;
  left: 414px;
}

.boardInput::placeholder {
  color: rgba(10, 84, 119, 0.63);
  text-align: left;
  font-family: "WantedSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}


