.changedPrice01 {
  color: #008cff;
  text-align: right;
  font-family: "WantedSans-Medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  position: absolute;

  top: 240px;
  right: 251px;
  bottom: 1232px;
  left: 1674px;
}

.changedPrice02 {
  color: #008cff;
  text-align: right;
  font-family: "WantedSans-Medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  position: absolute;

  top: 310px;
  right: 251px;
  left: 1674px;
}

.changedPrice03 {
  color: #008cff;
  text-align: right;
  font-family: "WantedSans-Medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  position: absolute;

  top: 380px;
  right: 251px;
  left: 1674px;
}

.changedPrice04 {
  color: #008cff;
  text-align: right;
  font-family: "WantedSans-Medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  position: absolute;

  top: 450px;
  right: 251px;
  left: 1674px;
}

.changedPrice05 {
  color: #008cff;
  text-align: right;
  font-family: "WantedSans-Medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  position: absolute;

  top: 520px;
  right: 251px;
  left: 1674px;
}

.changedPrice06 {
  color: #008cff;
  text-align: right;
  font-family: "WantedSans-Medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  position: absolute;

  top: 590px;
  right: 251px;
  left: 1674px;
}

.changedPrice07 {
  color: #008cff;
  text-align: right;
  font-family: "WantedSans-Medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  position: absolute;

  top: 660px;
  right: 251px;
  left: 1674px;
}

.changedPrice08 {
  color: #ea7814;
  text-align: right;
  font-family: "WantedSans-Medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  position: absolute;

  top: 730px;
  right: 251px;
  left: 1674px;
}