.categoryTitle {
  /* Figma Plugin */
  color: #0a5477;
  text-align: left;
  font-family: "WantedSans-ExtraBold", sans-serif;
  font-size: 32px;
  font-weight: 800;
  position: relative;
  width: 334px;
  height: 30px;


  margin-top: 450px;
  margin-bottom: 34px;
  margin-left: 187px;

}


.popularTitle {
  color: #efefef;

  font-size: 32px;
  font-weight: 800;
  height: 30px;
  position: absolute;

  font-family: "WantedSans-ExtraBold", sans-serif;

  top: 1050px;
  right: 1865px;
  bottom: 508px;

}